<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Gostel</title>
	
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">   
	
<link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">

	 
	<!-- Feuilles de style -->
	{% block stylesheets %}
	<!--	<link rel="stylesheet" href="{{ asset('css/normalize.css') }}">-->
		<link rel="stylesheet" href="{{ asset('style.css', 'css') }}">
	{% endblock %}
</head>
<body>

	<header>
		<!-- Navigation -->
		<nav>
			<ul class="flex">

				<li><a href="{{ url('signup') }}">Créer un compte</a></li>
				<li><a href="{{ url('login') }}">Connexion</a></li>
				<li><a href="#">Admin</a></li>
				<li><a href="{{ url('contact') }}">Contact</a></li>
			</ul>
		</nav>
		
		<!-- Logo et slogan -->
		<div class="center">


			<h1><a href="{{ url('home') }}">Gostel</a></h1>

			<p>Réservez dans les meilleurs hôtels</p>
			
			<!-- Bouton rechercher -->
			<form action="" method="get">
				<input type="search" id="search" name="search" placeholder="Pays, Ville">

				<button class="btn btn_search" type="submit" id="btn_search">Rechercher</button>


			</form>
		
		</div>
	</header>
	
	{% block body %}{% endblock %}
</body>
</html>



