<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Gostel</title>
	
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">   
	
<link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">

	 
	<!-- Feuilles de style -->
	{% block stylesheets %}
	<!--	<link rel="stylesheet" href="{{ asset('css/normalize.css') }}">-->
		<link rel="stylesheet" href="{{ asset('views/css/style.css') }}">
	{% endblock %}
</head>
<body>

	<header>
		<!-- Navigation -->
		<nav>
			<ul class="flex">
				<li><a href="{{ url('home') }}">Page d'accueil</a></li>
				<li><a href="{{ url('signup') }}">Créer un compte</a></li>
				<li><a href="#">Connexion</a></li>
				<li><a href="#">Admin</a></li>
				<li><a href="{{ url('contact') }}">Contact</a></li>
			</ul>
		</nav>
		
		<!-- Logo et slogan -->
		<div class="center">
			<h1>Gostel</h1>
			<p>Réservez dans les meilleurs hôtels</p>
			
			<!-- Bouton rechercher -->
			<form action="">
				<input type="search" id="search" name="search" placeholder="Pays, Ville">
				<button id="btn_search">Rechercher</button>
			</form>
		
		</div>
		
	</header>
	
	{% block body %}{% endblock %}
</body>
</html>